[submodule "vendor/nfc"]
	path = vendor/nfc
	url = https://github.com/alexrsagen/libnfc.git
[submodule "vendor/usb-compat-0.1"]
	path = vendor/usb-compat-0.1
	url = https://github.com/alexrsagen/libusb-compat-0.1.git
